@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');


@theme {
  /* 3d72fc */
  --color-blue-lighter: oklch(0.662 0.156 264.99); 
  
  --color-blue-darker: #010e37;
  --color-yellow: #FFEB00;
  --color-yellowHover: #FFD700;

  --color-blue-lighterHover: oklch(0.562 0.156 264.99); /* Reduzimos a lightness */
  --color-blue-darkerHover: #03215f; /* Aumentamos a luminosidade */
  --font-arrow: 'Inter', sans-serif;
}

@layer base {
  /* Reset CSS personalizado */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
  }

  body {
   

    background-color: #f9fafb; /* Exemplo de cor de fundo */
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button, input, textarea {
    font-family: inherit;
  }
  section{
    scroll-margin-top: 40px;
  }
  
}

@layer utilities {
  /* Utilitários personalizados */
  .custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  ul a {
    transition: all 0.3s;
 }
}
