/* style.css */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@100..900&display=swap');

@theme {
  --color-blue-lighter: oklch(0.662 0.156 264.99);
  --color-blue-darker: #010e37;
  --color-yellow: #FFEB00;
  --color-yellowHover: #FFD700;

  --color-blue-lighterHover: oklch(0.562 0.156 264.99); /* Reduzimos a lightness */
  --color-blue-darkerHover: #03215f; /* Aumentamos a luminosidade */
}

@layer base {
  /* Reset CSS personalizado */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
  }

  body {
    background-color: #f9fafb; /* Exemplo de cor de fundo */
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button, input, textarea {
    font-family: inherit;
  }
}

@layer utilities {
  /* Utilitários personalizados */
  .custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
